body {
    width: 1000px;
    font-family: Arial;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: rgb(204, 0, 0);
}

header#top-bar {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    background-color: rgb(204, 0, 0);
    font-size: 15px;
}

#logged-buttons {
    display: none;
}

#content-wrapper {
    margin-top: 50px;
}

.row {
    display: grid;
    grid-gap: 20px;
    overflow: auto;
    width: 100%;
    border-radius: 10px;
    border: solid 2px #ae3111;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.item-left {
    font-weight: bold;
    color:rgb(204, 0, 0);
}

.item-right {
    font-weight: bold;
    color:rgb(204, 0, 0);
}

.item-right span {
    margin-right: 50px;
}


.openpop {
    cursor: pointer;
}

#close-frame {
    width: 60px;
}

#logout{
    padding: 10px;
    margin-top: 8px;
    font-weight: bold;
    color:rgb(204, 0, 0);
    cursor: pointer;
    background-color: antiquewhite;
    position: relative;
    top: 2px;
}

#logout:hover, #close-frame:hover {
    color: antiquewhite;
    background-color: rgb(204, 0, 0);
}

#back {
    padding: 10px;
    margin-top: 8px;
    font-weight: bold;
    color:rgb(204, 0, 0);
    cursor: pointer;
    background-color: antiquewhite;
    position: relative;
    top: 2px;
}

#back:hover {
    color: antiquewhite;
    background-color: rgb(204,0,0);
}

#username-greeting {
    margin-right: 10px;
    
}

#logged-buttons {
    font-weight: bold;
    color: antiquewhite;
    margin-top: 10px;
    margin-left: 5px;
}

#frame {
    margin-top: 50px;
    position: fixed;
    width: 1280px;
    height: 720px;
    padding: 0;
    overflow: hidden;
    display: none;
}

#actual-frame {
    background-color: transparent;
    width: 2000px;
    height: 786px;
    border: 0;

    -ms-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
    -webkit-transform: scale(0.60);
    transform: scale(0.60);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#close-frame {
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 8px;
    font-weight: bold;
    color: antiquewhite;
    cursor: pointer;
    background-color: rgb(204, 0, 0);
    position: relative;
    font-size: 25px;
}

#close-frame:hover {
    background-color: antiquewhite;
    color:rgb(204, 0, 0);
}

@media (min-width: 1050px) {
    .row { grid-template-columns: 1fr 1fr; }
}