body {
    width: 1000px;
    margin: 10px auto;
    font-family: Arial;
}

header#top-bar {
    position: fixed;
    width: 1000px;
    height: 40px;
    top: 0;
}

#logged-buttons {
    display: none;
}

#content-wrapper {
    margin-top: 50px;
}

.row {
    display: grid;
    grid-gap: 20px;
    overflow: auto;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 1%;
    margin-bottom: 10px;
    padding: 10px;
}

.item-left {
    background-color: blue;
}

.item-right {
    background-color: red;
}

.item-right span {
    margin-right: 50px;
}

@media (min-width: 1050px) {
    .row { grid-template-columns: 1fr 1fr; }
}