body {
    width: 1000px;
    margin: 10px auto;
    font-family: Arial;
}

header#top-bar {
    position: fixed;
    width: 1000px;
    height: 40px;
    top: 0;
}

#login-form {
    position: absolute;
    top: 100px;
    left: 300px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #ae3111;
}

.error-message {
    background-color: #ee3b0f;
    color: white;
}

#not-logged-buttons, #logged-buttons {
    display: none;
}